BasedOnStyle: WebKit
PointerAlignment: Right
NamespaceIndentation: None
ColumnLimit: 80
IncludeBlocks: Regroup
BreakTemplateDeclarations: Yes
IncludeCategories:
  - Regex: "^<criterion/.*>$"
    Priority: 1
  - Regex: '^<.*\.h>$'
    Priority: 2
  - Regex: "^<.*>$"
    Priority: 3
  - Regex: '^".*"$'
    Priority: 4
